body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.app {
  text-align: center;
}
 
 button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #080808;
  color: white;
  font-size: 16px;
}

button:hover {
  background-color: grey;
}

h1, h2 {
  margin: 20px 0;
} 
