.authentication {
    height: 82vh;
    background-image: url('https://media.istockphoto.com/id/1199029984/vector/black-seamless-background-with-question-marks.jpg?s=612x612&w=0&k=20&c=QR_paKlexJikSCaCr_yN8mSGNiBcGoA-zP11YMWKTCA=');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .auth-content {
    background-color: #292829e1;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow:  0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .head {
    margin-bottom: 10px;
    font-size: 2rem;
    color: white;
  }
  
 .para{
    font-size: 1.2rem;
    color: white;
  }
  