.footer {
    background-color: #111011b5; /* Match the navbar color for consistency */
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: fixed; 
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
    font-size: 0.9rem;
    
  }
  
  .footer p {
    margin: 0px;
    font-weight: 500;
  }
  .parafoot{
    color:white
  }
  