.navbar {
    background-color: #111011b5;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  
  .auth-buttons button {
    background-color: #111011b5;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .auth-buttons button:hover {
    background-color: grey;
    color: white;
  }
  